<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch">
        <observer name="addCodesToBodyClass" instance="MarkShust\ExtraBodyClasses\Observer\AddCodesToBodyClass" />
    </event>
</config>
